.contact {
	margin: 0 auto;
	max-width: 800px;

	@include phone {
		width: 100%;
	}

	&__title {
		font-weight: $regular;
		line-height: 0.7;
		margin: 0 0 1rem;
		text-align: center;
		text-transform: uppercase;

		.display {
			font-size: 2em;
			text-transform: lowercase;
		}
	}

	&__form {
		margin: 4rem auto 0;
		max-width: 500px;
		position: relative;

		@include phone {
			width: 100%;
		}

		.form-block {
			margin: 0 0 1rem;

			.input {
				border-radius: 6px;
				border: 1px solid $light-grey;
				display: block;
				font-family: $main-font;
				font-size: 1rem;
				padding: 0.25rem 1rem;
				transition: all 0.3s;
				width: 100%;

				@include placeholder {
					color: $secondary-color;
					font-size: 1rem;
					font-style: italic;
					opacity: 1;
					transition: all 0.3s;
				}

				&.msg {
					height: 5rem;
					resize: none;
				}

				&:focus {
					border: 1px solid $secondary-color;

					@include placeholder {
						opacity: 0;
					}
				}
			}
		}

		.submit {
			border-radius: 6px;
			border: none;
			color: $white;
			cursor: pointer;
			font-family: $main-font;
			font-size: 1rem;
			font-style: italic;
			text-align: center;
			transition: all 0.3s;
			width: 100%;

			&:hover {
				background-color: $secondary-color;
			}
		}

		.output-msg {
			animation: fadeIn 0.4s linear forwards;
			display: flex;
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgba(#fff, 0.7);
			top: 0;
			left: 0;

			p {
				animation: fadeIn 0.4s 0.2s linear forwards;
				margin: auto;
				font-size: 1.25rem;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
