.site-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&__image {
		height: 100%;
		left: 0;
		opacity: 0.4;
		position: absolute !important;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	&__contact-data,
	&__social,
	&__copy {
		position: relative;
		z-index: 1;
	}

	&__contact-data {
		text-align: center;
		width: 100%;

		.contact-block {
			margin: 0 0 1rem;

			.fa {
				color: $accent-color;
			}

			p {
				margin: 0;

				a {
					color: $white;
					text-decoration: none;

					&:hover {
						color: $accent-color;
					}
				}
			}

			&.phone {
				p {
					font-size: 1.5rem;
				}
			}
		}
	}

	&__social {
		display: flex;
		margin: auto;

		.social-link {
			border-radius: 50%;
			border: 1px solid $accent-color;
			color: $white;
			display: flex;
			height: 40px;
			margin: 0 0.25rem;
			transition: all 0.3s;
			width: 40px;

			.fa {
				margin: auto;
				font-size: 0.9rem;
				transition: all 0.2s;
			}

			&:hover {
				background: $accent-color;
				color: $white;
			}
		}
	}

	&__copy {
		align-items: center;
		display: flex;
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		margin: 2rem 0 0;
		justify-content: center;
		width: 100%;
	}
}
