.main-header {
	background: linear-gradient($dark, rgba($dark, 0));
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 99;

	.inner-header {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;

		.logo {
			width: 200px;

			@include tablet {
				margin: 3rem auto 0;
			}

			img {
				display: block;
				width: 100%;
			}
		}
	}

	.main-nav {
		display: flex;

		@include tablet {
			background: $dark;
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}

		.nav-list {
			margin: 1rem auto;
			list-style: none;
			display: flex;

			@include tablet {
				margin: 0.5rem auto;
			}

			.nav-item {
				height: fit-content;

				@include phone {
					margin: 0.5rem 0 !important;
				}

				&__link {
					text-transform: uppercase;
					letter-spacing: 0.05rem;
					transition: all 0.3s;
					opacity: 0.9;
					cursor: pointer;
					position: relative;

					&:after {
						content: '';
						height: 1px;
						background: $accent-color;
						width: 100%;
						transition: all 0.3s;
						position: absolute;
						bottom: 0;
						opacity: 0;
						left: 0;
					}

					&:hover {
						opacity: 1;

						&:after {
							opacity: 1;
							bottom: -0.5rem;
						}
					}

					@include phone {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
