.products {
	padding: 3rem 1rem;
	position: relative;

	&__title {
		font-weight: $regular;
		line-height: 0.9;
		margin: 0 0 1rem;
		text-align: center;
		text-transform: uppercase;

		@include phone {
			margin: 2rem 0 1rem;
		}

		.display {
			font-size: 2em;
			text-transform: lowercase;
		}
	}

	&__intro {
		margin: 0 auto;
		text-align: center;
		max-width: 800px;
	}

	&__gallery {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
		margin: 3rem auto;
		position: relative;
		width: 800px;

		@include tablet {
			width: 100%;
		}

		&:before {
			background: url('../images/strawberries.png') no-repeat center center / contain;
			bottom: -5rem;
			content: '';
			height: 200px;
			left: -9rem;
			position: absolute;
			width: 200px;
			z-index: 9;

			@include phone {
				height: 120px;
				left: 1rem;
				width: 120px;
			}
		}

		.product-img {
			position: relative;

			.gimage {
				border-radius: 6px;
			}
		}
	}
}
